* {
	margin: 0;
	padding:0;
  font-family: Arial, Helvetica, sans-serif;
}

html, body {
	height: 100%;
}


.nav {
  width: 100%;
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color:white;
  box-shadow: 0px 0px 10px rgb(231, 231, 231);
}

.nav li {
  float: left;
}

#navanchors  {
  display: block;
  color: rgb(34, 34, 34);
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-weight: bold;
}

a:link {
  color: #7F98F8;
  text-decoration: none;
}

/* visited link */
a:visited {
  color:rgb(34, 34, 34);
  text-decoration: none;
}

/* mouse over link */
a:hover {
  color: #7F98F8;
  text-decoration: none;
}

/* selected link */
a:active {
  color: #7F98F8;
  text-decoration: none;
}


.body {
  width : 80%; 
  margin-left:auto; 
  margin-right:auto; 
  margin-top:2%; 
  background-color: white;
}

#title { 
  font-size: small;
  margin-bottom: 50px;
  background-color: white;
}

#titlephoto {
  max-width: 300px ;
  margin-left: 30%;
  background-color: white;
}

#buttons {
  max-width: 120px;
  display: flex;
  float:left;
  background-color: white;
}

.chart {
  border-radius: 25px;
  float: left;
  background-color: white; 
  box-shadow: 2px 2px 10px rgb(231, 231, 231);
}

#chartTitle {
  margin-left: 50px;
}


#legend {
  margin-top: 30%;
  padding: 20px ;
  width: 190px;
  height: 50%;
  border-radius: 10px;
  padding-left: 50px;
  font-size: small;
  float: right;
  background-color:white;
}


.d3-tip {
  line-height: 1;
  padding: 6px;
  background: #F94F30;
  color:white;
  border-radius: 4px;
  font-size: 12px;
}

/* Creates a small triangle extender for the tooltip */
.d3-tip:after {
  box-sizing: border-box;
  display: inline;
  font-size: 10px;
  width: 100%;
  line-height: 1;
  color: #F94F30;
  content: "\25BC";
  position: absolute;
  text-align: center;
}

/* Style northward tooltips specifically */
.d3-tip.n:after {
  margin: -2px 0 0 0;
  top: 100%;
  left: 0;
}